<!DOCTYPE html>
<html lang="ro">
    <%- include("../fragmente/head") %>
<body>

    <main class="eroare">
        <h1><%= titlu %></h1>
        <p><%= text %></p>
        <img src="<%= imagine %>" alt="Imagine eroare">
    </main>

    <div class="btn-home">
        <a href="/">Inapoi pe pagina principala</a>
    </div>

    
</body>
</html>
