<!DOCTYPE html>
<html lang="ro">
<%- include('../fragmente/head', { titlu: 'Galerie' }) %>
<%- include('../fragmente/header') %>

<main>
  <%- include('../fragmente/galerie') %>
</main>

<%- include('../fragmente/footer') %>
</html>
