<header class="header">
    <div id="top"></div>
    <h1><b>PigeonMarket</b></h1>
    <h2>Cel mai bun magazin <b>columbofil</b> din europa.</h2>
    <nav class="main-nav">
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="menu">
            <li><a href="/index" class="home-link"><i class="fas fa-home"></i> Acasă</a></li>
            <li class="has-submenu">
                <a href="#">Porumbei</a>
                <ul class="submenu">
                    <li><a href="/vanzari">Vanzari</a></li>
                    <li><a href="/licitatii">Licitatii</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Produse</a>
                <ul class="submenu">
                    <li><a href="/accesorii">Accesorii</a></li>
                    <li><a href="/hrana">Hrană</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Pagina Actuală</a>
                <ul class="submenu">
                    <li><a href="#top">Prima secțiune</a></li>
                    <li><a href="#calendar-evenimente">Calendar evenimente</a></li>
                </ul>
            </li>
            <li><a href="/despre-noi">Despre noi</a></li>
            <li><a href="/inregistrare"><i class="fas fa-spinner fa-spin"></i> Inregistrare/Logare</a></li>
        </ul>
    </nav>
</header>
